<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a  href="/">Home</a></li>
      <li><a href="/cv">Resume</a></li>
      <li><a href="/blog">Blogs</a></li>
       <li><a href="/about">About me</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:rjkani@gmail.com">email</a></li>
   <li><a href="https://github.com/Rajakani">github.com/Rajakani</a></li>
   </ul>
  </footer>
  </body>

</html>
